.cen {
    text-align: center;
}

h1 {
    color: #61677A;
    font-size: 40px;
}

a {

    color: mediumseagreen;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

h2 {
    color:#474E68
}

